:root {
    --body-pink: rgb(246, 210, 216);
    --nav-pink: rgb(240, 97, 121);
    --nav-white: rgb(255, 255, 255);
    --h1-black: rgb(51, 51, 51);
    --p-gray: rgb(85, 85, 85);
}

body {
    background-color: var(--body-pink);
}

img {
    width: 60vw;
    height: 12vh;
}

.center-logo {
    padding-top: 1rem;
    display: block;
    margin: 0 auto;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 1rem 0;
}

nav ul li {
    margin: 1rem 2rem;
}

nav ul li a {
    color: var(--nav-pink);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

nav ul li a:hover {
    background-color: var(--nav-pink);
    color: var(--nav-white);
    border-radius: 0.5rem;
}

main {
    padding: 0 1.5rem;
}

.promo-banner {
    text-align: center;
    padding: 50px 20px;
}

.promo-banner h1 {
    font-size: 2.5rem;
    color: var(--h1-black);
}

.promo-banner p {
    max-width: 100%;
    font-size: 1.2rem;
    color: var(--p-gray);
}

.collections h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.column {
    flex: 1;
    padding: 1rem;
    text-align: center;
}

.column img {
    width: 100%;
    height: 60%;
    border-radius: 0.5rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem;
    padding: 1.5rem;
}

.footer-left img {
    max-width: 15rem;
}

.footer-right p {
    font-size: 1rem;
    color: var(--p-gray);
}

@media (max-width: 768px) {
    img {
    width: 80vw;
    height: 10vh;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .row {
        flex-direction: column;
    }

    .column img {
        width: 100%;
        height: 50vh;
    }

    footer {
        flex-direction: column;
    }

    .footer-left img {
        margin: 1rem 0 1.5rem 0;
        max-width: 70vw;
    }
}